@import "tailwindcss";

@theme {
    --color-header: #8C00FF; /* Header  */
    --color-text-clr: #450693; /* Text */
    --color-btn: #FFC400; /* Buttons, icon and H1 in header */
    --color-red: #FF3F7F; /* Wrong answers */
    --color-green: #3FFFA3; /* Correct answers */
}

body {
    margin: 0;
    padding: 0;
}